<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta charset="utf-8">
	<script th:src="@{/jquery-3.1.1.slim.min.js}"></script>
	<script th:src="@{/tether.min.js}"></script>
	<script th:src="@{/bootstrap.min.js}"></script>
	<title>Insert title here</title>
	<link href="/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/navbar-top-fixed.css" rel="stylesheet"></link>
</head>
<body>
	<form id="logoutForm" method="post" action="/logout">

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

	</form>

	<form th:action="@{/appLogin}" method="POST">
		User Name : <input type="text" name="app_username" /> Password: <input
			type="password" name="app_password" /> <input type="submit"
			value="Login" />
	</form>
</body>
</html>